---
import MainLayout from "./MainLayout.astro";
import PostHeader from "../components/PostHeader.astro";
import CategoryCloud from "../components/CategoryCloud.astro";
import RelatedPost from "../components/RelatedPost.astro";
const { frontmatter, url } = Astro.props;
const { title, date, author, image:{src:img_src,alt:img_alt}, description, category} = frontmatter
---
<!-- TRY TO MAKE THIS FILE A DYNAMIC ROUTES INSTEAD OF A "LAYOUT" -->
<!-- SO I CAN FETCH EVRYTHING AS ONE TIME AND PASS ARRAYS AS PROPS -->
<MainLayout
  {title}
  {description}
  image={frontmatter.image}
  {frontmatter}
  robots={frontmatter.robots}
>
    <article class="space-y-10 grid grid-cols-12">
        <PostHeader {date} {author} {img_src} {img_alt} {category} {title} classes="col-span-12"/>
        <div class="px-5 space-y-5 col-span-9">
            <slot/>
        </div>
        <div class="flex md:flex-col md:col-span-3 col-span-12 gap-y-7 gap-x-5 text-center md:text-left">
            <CategoryCloud sidebar={true}/>
            <RelatedPost category={category} url={url}/>
        </div>
    </article>
</MainLayout>